*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}
body{
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px auto;
}
.box{
  width: 700px;
  height: 150px;
  background-color :#f7c574;
  border-radius: 20px;
}
.box h1{
  padding: 40px 40px;
  text-align: center;
  font-size: 3rem;
  color: #e92323;
}