* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
body{
  background-color: lightskyblue;
}
.heading-style{
  text-align: center;
  padding: 20px 0px;
  /* margin: 10px auto; */
  background-color: white;
  letter-spacing: 2px;    
}

.slot-inner{
  padding: 5px;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 2px;
  background-color: lightskyblue;
}
.slot-inner h1{
  padding: 5px;
}
.slot-machine{
  margin: 50px auto;
  width: 450px;
  /* height: 350px; */
  border: 2px solid black;
  background-color: white;
  box-shadow: 3px 3px 20px white;
}